# Redirect all requests to /modern_bakery/ to the root directory
RedirectMatch 301 ^/modern_bakery/$ /

# Other .htaccess code goes here

#Require all denied
RewriteEngine On
#Require all denied
# Allow access only to /modern_bakery/public/api/ and its subpaths
RewriteCond %{REQUEST_URI} !^/modern_bakery/public/api(/|$)
RewriteCond %{REQUEST_URI} !^/modern_bakery/storage/app/public(/|$)
RewriteRule ^ - [F,L]

<IfModule mod_rewrite.c>
<Files ~ "^.*\.([Ee][Nn][Vv])">
        order allow,deny
        deny from all
        satisfy all
    </Files>
    </IfModule>
   
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
    Header set Access-Control-Allow-Headers "*"
#    RequestHeader unset x-domain
</IfModule>